body {
  font-size: 120%;
  background: #F8F8FF;
}
*{
	margin: 0px;
	padding: 0px;
}
.download-wrapper{
	background:#fff;
	padding:30px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px #000;
	margin: 0 auto;
	width: 1100px;
}
.home-wrapper{
	background:#fff;
	padding:30px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px #000;
	margin: 10px;
	width: 1345px;
}

.contact-wrapper{
	background:#fff;
	padding:30px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px #000;
	margin: 0 auto;
	width: 700px;
}
.contact-program
{
    background:#fff;
    padding:10px;
    border-radius: 10px;
    box-shadow:0px 0px 10px 0px #000;
    margin:20px;
    hight:250px;
    width:300px;
}
.address-wrapper{
	background:#fff;
	padding:30px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px #000;
	margin: 0 auto;
	width: 400px;
}

.bgimg{
	background-image: url("images/bg.jpeg");
	 background-repeat:repeat;
}
.das {
	width: 100%;
	margin: 0px auto 0px;
	color: white;
	background: gray;
	text-align: center;
	border: 1px solid #B0C4DE;
	border-bottom: none;
	border-radius: 10px 10px 0px 0px;
	padding: 20px;
}
.wrapper{
	background:#fff;
	padding:30px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px #000;
	margin: 0 auto;
	width: 280px;
}
.login-area{
	margin-top:10%;
}

.header {
	width: 30%;
	margin: 50px auto 0px;
	color: white;
	background: transparent;
	text-align: center;
	border: 1px solid #B0C4DE;
	border-bottom: none;
	border-radius: 10px 10px 0px 0px;
	padding: 20px;
}
.form{
	width: 30%;
	margin: 0px auto;
	padding: 20px;
	border: 2px solid black;
	background: white;
	border-radius: 0px 0px 10px 10px;
}
 .content{
	width: 30%;
	margin: 0px auto;
	padding: 20px;
	border: 2px solid black;
	background: white;
	border-radius: 0px 0px 10px 10px;
}
.input-group{
	margin: 10px 0px 10px 0px;
}
.input-group label{
	display: block;
	text-align: left;
	margin: 3px;
}
.input-group input{
	height: 30px;
	width: 93%;
	padding: 5px 10px;
	font-size: 16px;
	border-radius: 5px;
	border:1px solid gray;
}
.btn{
	padding: 10px;
	font-size: 15px;
	color: white;
	background: #5F9EA0;
	border: none;
	border-radius: 5px;
}
.error{
	width: 92%;
	margin: 0px auto;
	padding: 10px;
	border: 1px solid #a94442;
	color: #a94442;
	background: #f2dede;
	border-radius: 5px;
	text-align: left;
}
.success{
	color: #3c763d;
	background: #dff0d8;
	border:1px solid #3c763d;
	margin-bottom: 20px;
}
nav {
	width: 100%;
	height: 10%;
	background-color: #fff;
}
nav p{
	font-family: arial;
	color: #222;
	font-size: 24px;
	line-height: 20px;
	float: left;
	padding: 0px 20px;
}
nav ul{
	float: left;

}
 nav ul li{
float: left;
list-style: none;
position:relative;
 }
nav ul li a{
	display: block;
	font-family: arial;
	color: white;
	font-size: 14px;
	padding: 22px 14px;
	text-decoration: none;
}
nav ul li ul{
	display: block;
	position: absolute;
	background-color: #fff;
	padding: 10px;
	border-radius: 0px 0px 4px 4px;
}
nav ul li ul:hover{
	display:block;

}
nav ul li ul li {
	width: 180px;
	border-radius:4px;
	background-color: gray;

}
nav ul li ul li a{
	padding: 12px 14px;
	background-color: white;
}
nav ul li ul li a:hover{
	background-color: #f3f3f3;
}
